html {
  scroll-behavior: smooth;
  scrollbar-color: var(--brand-color-border-default) transparent;
  scrollbar-width: thin;

  font-size: 16px;

  -webkit-font-smoothing: auto;
}

body {
  font-family: var(--brand-fontStack-sansSerif);
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color-text-default);
  word-break: keep-all;
  overflow-wrap: anywhere;

  background-color: var(--brand-color-canvas-default);
}

a {
  color: var(--brand-color-text-link-rest);
  text-decoration: none;
}

// 목차 앵커 이동 시 고정 헤더에 heading이 가리지 않도록 여백을 보정합니다.
article :is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: var(--base-size-112);
}

[data-component='ActionList.Item.Label'] {
  * {
    word-break: keep-all;
  }
}
