@use 'breakpoint' as *;

.container {
  flex-shrink: 0;
  width: 300px;
  padding-inline-start: var(--base-size-8);
  border-right: 1px solid var(--brand-color-border-default);

  .inner {
    position: sticky;
    top: 65px;

    display: flex;
    flex-direction: column;
    gap: var(--base-size-16);

    padding: var(--base-size-24) var(--base-size-16) 0;
  }
}

@media (width < $breakpoint-large) {
  .container {
    display: none;
  }
}
