@use 'variables' as *;

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--base-size-16);
  align-items: center;
  justify-content: center;

  padding: var(--base-size-40) var(--base-size-16);

  .top {
    .caption {
      display: flex;
      gap: var(--base-size-8);
      align-items: center;
      color: var(--brand-color-text-muted);
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-16);
    align-items: center;

    .step {
      min-height: var(--base-size-24);
    }

    .progressBar {
      width: 360px;
      max-width: 100%;

      .progressBarItem {
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 10s cubic-bezier(0.16, 1, 0.3, 1);

        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }

      @media (width < $breakpoint-small) {
        width: 240px;
      }
    }
  }
}
