@use 'variables' as *;
@use 'mixins' as *;

.container {
  flex-shrink: 0;
  width: $sidebar-width;
  padding-inline-start: var(--base-size-8);
  border-right: 1px solid var(--brand-color-border-default);

  .inner {
    @include scrollbar('y');

    position: sticky;
    top: $header-height;
    max-height: calc(100vh - $header-height);

    .title {
      margin: 0 0 var(--base-size-12);
      padding: var(--base-size-24) var(--base-size-16) 0;
    }
  }
}

@media (width < $breakpoint-large) {
  .container {
    display: none;
  }
}
