.container {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  align-items: center;
  justify-content: center;

  max-width: 600px;
  margin: auto;
  margin-top: var(--base-size-40);
  padding: var(--base-size-40);

  text-align: center;

  code {
    padding: 0.1em 0.4em;
    border: 1px solid var(--brand-color-border-muted);
    border-radius: var(--brand-borderRadius-small);

    font-family: var(--brand-fontStack-monospace);
    font-size: 0.9em;

    background-color: var(--brand-color-canvas-subtle);
  }
}
